$outline-color_1: rgb(77, 144, 254);

.basic.tree {
	list-style: none;
	margin: 0;
	padding: 20px;
}
.basic {
	.tree-node {
		list-style: none;
		margin: 0;
		padding: 0;
		cursor: pointer;
	}
	.tree-node-group {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.tree-branch-wrapper {
		outline: none;
	}
	.tree-node__leaf {
		outline: none;
	}
	.tree-node--focused {
		outline-color: $outline-color_1;
		outline-style: auto;
		outline-width: 2px;
		display: block;
	}
	.tree-node__branch {
		display: block;
	}
}